<%- include('./partials/header.ejs'); %>

    <div class="manageUser-container">
      <div id="title">
        <h2>Manage Users</h2>
      </div>

      <div class="new-message-container new-user">
        <a href="#" onclick="openModal()">+</a>
      </div>

      <div id="users-table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody id="users-table">
            <% users.forEach(function(user){ %>
            <tr id="<%=user._id %>">
              <td class="name">
                <% if(user.avatar){ %>
                <img src="<%=user.avatar%>" />
                <% } else {%>
                  <img src="./images/nophoto.png" />
                  <% } %>
                <span><%= user.name %></span>
              </td>
              <td><%= user.email %></td>
              <td class="manage">
                <% if(user.role!='admin') { %> 
                <img src="./images/trash.png" alt="Delete" onclick="removeUser('<%=user._id%>')"/>
                <% } else{ %> 
                  <img src="./images/user1.png" alt="admin setting"/>
                <% } %> 
              </td>
            </tr>
            <% });%>
          </tbody>
        </table>
      </div>
    </div>

    <%- include('./partials/add-user-modal.ejs'); %>
    <script>
      const logoutToast = Toastify({
        text: "Remove success",
        duration: 2000
      })
      // remove user 
      async function removeUser(id){
        const response = await fetch(`/users/${id}`, {
          method:'DELETE'
        });
        const result = await response.json();
        console.log('remove result',result )
        if(result.error || response.status !=200){

          if(Object.keys(result.error).length){
                            Object.keys(result.error).forEach(error=>{
                                console.log('error', error)
                                Toastify({
                                text: result.error[error].msg || 'Something went wrong!',
                                duration: 2000,
                                }).showToast();
                            })
                        }
          console.log('delete user error:', result.error);
          
        }else{
          logoutToast.showToast();
          // alert(`${id} deleted success!`);
          document.getElementById(id).remove();
        }
      }
    </script>
    
  </body>
</html>
